@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

:root {
    --main-bg-color: #e9e9e9;
    --primary-text-color: #424242;
    --accent-color: #ff3f3c;
    --form-bg-color: #dbdcdb;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--primary-text-color);
    background: var(--main-bg-color);
    /* padding: 0 40px;
    text-align: center; */
    /* width: 640px; */
    /* margin: 0 auto; */
    margin: 0;
    padding: 0;
}

header {
    padding: 40px;
    margin-bottom: 50px;
}

header h1 {
    margin: 0;
    font-weight: 900;
}

main {
    background: url('/images/polaroid.png') no-repeat center 200px;
    margin: 0 auto;
    width: 1000px;
    min-height: 1100px;
}

.hero {
    text-align: center;
    min-height: 950px;
}

.hero h2 {
    font-size: 9em;
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;
}

.details h3 {
    font-size: 3.5em;
    line-height: 1em;
    margin: 0;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.details p {
    font-size: 1.8em;
    margin-bottom: 60px;
}

.details ul {
    padding-left: 0;
    margin-bottom: 60px;
}

.details ul li {
    list-style-type: none;
    margin: 10px 0;
    padding: 0 0 0 70px;
    font-size: 1.8em;
}

.details ul li.wifi {
    background: url('/images/wifi.svg') no-repeat center left;
    background-size: contain;
}

.details ul li.cloud {
    background: url('/images/cloud-arrow-up.svg') no-repeat center left;
    background-size: contain;
}

.details ul li.qr {
    background: url('/images/qr-code.svg') no-repeat center left;
    background-size: contain;
}

.details ul li.photo {
    background: url('/images/photo-film.svg') no-repeat center left;
    background-size: contain;
}

.cta h3 {
    font-size: 3.5em;
    line-height: 1em;
    margin: 0;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.cta form {
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 15px;
    background-color: var(--form-bg-color);
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    align-items: center;
    width: 90%;
    box-sizing: border-box;
}

.cta form input {
    border: none;
    height: 60px;
    padding-left: 20px;
    font-size: 1.2em;
    width: 100%;
    box-sizing: border-box;
}

.cta form button {
    border: none;
    background-color: var(--accent-color);
    color: var(--main-bg-color);
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 900;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
}